
body{
  background-image: url('https://cdn.dribbble.com/users/14997/screenshots/587335/dribbble.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

/* Header */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(120, 36, 131);
  color: rgb(15, 124, 175);
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}

/* name card */
.card {

  transition: 0.3s;
  width: 50%;
}

.responsive{
  width: 100%;
  height: auto;
}


.container {
  padding: 4px 20px;
}

.card {
  margin: 0 auto;
  float: none; 
  /* Create seperation between cards */
  margin-bottom: 25px; 
} 

.top-right{
  position: absolute;
  top: 10px;
  right: 400px;
}

.footer{
  padding: 60px;
  background: rgb(179, 43, 145);
}

